html, body {
	  	height: 100%;
  	min-height: 100%;
}

body {
/*	background:url('../img/background-large.png') no-repeat center center fixed;*/
  	background: #ffffff;
/*  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;*/
}

h1 {
   font-size: 1.4em;
   color:#FFFFFF;
   font-family: "futura-pt", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
}
h1.normHead {
	line-height: normal;
	font-size: 2.75rem;
}

p {
   font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
   font-size: 0.9em;
   color:#FFFFFF;
}

.text-white {
	color: #ffffff;
}
.text-grey {
	color: #4D5456;
}
.text-orange {
	color: #F26C21;
}
.bg-orange {
	background-color: #F26C21;
}
.bg-white {
	background-color: #ffffff;
}

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

.d-t {
	display: table;
}

#formHolder {
	min-height: 100%;
	height: 100%;
	overflow: scroll;
	background-color: #f36c21;	
}

#descHolder {
	height: 100%;
}
#imacImg {
	position: absolute;
	right: 0;
	width: 350px;
	height: 300px;
	max-width: none;
}

.columns.special {
	position: inherit;
	height: 485px;
}
#imacImg2 {
	position: absolute;
	bottom: 0;
	right: 0;
}

#submitBtn {
	color: #F26C21;
	text-transform: uppercase;
	font-size: .75em;
	background-color: #ffffff;
	border: 1px solid #F26C21;
}

#submitBtn:hover, #submitBtn.button-off {
	color: #FFFFFF;
	background-color: #F26C21;
	border: 1px solid #ffffff;
}

#backtosys:hover {
	background-color: #e3651f !important;
}
.row {
	/*margin-left: 8%;*/
	height: 100%;
}
.row.a-h {
	height: auto;
	position: relative;
}

#lrg-logo {
	display: inline;
}

#sml-logo {
	display: none;
}

span.instructions {
   font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
   font-weight: bold;
   font-size: 1em;
}

.wrapper { height: 100%; }

#form-error {
	font-family: Helvetica, Arial, sans-serif;	
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #ffffff;
	margin-top: -27px;
	padding: 2.25em 0.5625rem 0.5625rem;
	font-style: normal;
	font-size: 0.8em;
}

.header-panel {
	border: none;
	padding: 1rem 3.5rem 0.5rem;
	background: url('../img/panel-design.png') no-repeat top right #F36D21;
	opacity: 0.95;
	margin-bottom: 0;
}
.c-z {
	clear: both;
}
.content-panel {
	border: none;
	padding: 0 3.5rem 2em;
	background-color: #f36c21;
	opacity: 0.95;
	margin-bottom: 0;
	height: 100%;
}

.thk {
	background: url('../img/panel-design-thanks.png') no-repeat top right #0E8E9B;
}

.thkblue {
	background-color: #0E8E9B;
}

a {
	font-family: 'proxima-nova', Helvetica, Arial, sans-serif;	
	color: #FFFFFF;
	font-size: 0.8em;
}

a.download-link {
	font-family: 'proxima-nova', Helvetica, Arial, sans-serif;	
	color: #FFFFFF;
	font-size: 1em;
	font-weight: bold;
	text-decoration: underline;
}

a.download-link:hover {
	text-decoration: none;
}

input[type="text"],input[type="email"],input[type="tel"],input[type="text"]:focus,input[type="email"]:focus,input[type="tel"]:focus {
	font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
	box-shadow: none;
	color:#FFFFFF;
	border: 1px solid #ffffff;
	background-color: #f36c21;	
	opacity: 1;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
  	border-radius: 4px;
	
}

::-webkit-input-placeholder {
	color:#FFFFFF;
}

:-moz-placeholder { /* Firefox 18- */
	color:#FFFFFF;
	opacity: 1;
}

::-moz-placeholder {  /* Firefox 19+ */
	color:#FFFFFF;
	opacity: 1;
}

:-ms-input-placeholder {  
	color:#FFFFFF;
}

.company-size, .company-size:hover, .company-size:focus {
	font-family: 'proxima-nova', Helvetica, Arial, sans-serif;	
	color:#FFFFFF;
	border: 1px solid #ffffff;
	background-color: #f36c21;
	background-image: url('../img/select-arrow.png');	
	background-position: 95% center;
    background-repeat: no-repeat;
  	outline: none;	
	z-index: -1;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
  	border-radius: 4px;	
}

@-moz-document url-prefix() {
    .company-size, .company-size:hover, .company-size:focus {
		background-image: none;	
    }
}


[data-abide] .error small.error, [data-abide] span.error, [data-abide] small.error {
	font-family: Helvetica, Arial, sans-serif;	
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #ffffff;
	margin-top: 0px;
	font-style: normal;
	font-size: 0.8em;
}

[data-abide] .error small.error:before, [data-abide] span.error:before, [data-abide] small.error:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: inset 6px;
	border-color: transparent transparent #fff transparent;
	border-bottom-style: solid;
	position: absolute;
	top: 1.6rem;
	left: 1.5rem;
}


button.button-off, button.button-off:focus {
	/*background: url('../img/btn-download-lrg-off.png') transparent no-repeat;
	height: 54px;
	width: 152px;*/
	outline: none;
	margin-bottom: 0;
}

button.button-error {
	/*background: url('../img/btn-download-lrg-on-2.png') transparent no-repeat;
	height: 50px;
	width: 150px;*/
	outline: none;
	margin-bottom: 0;
}

#return-link {
	margin-top: 2rem; 
}

#return-link-thk {
	background-color: #f36c21;
	padding: 1rem 3.5rem 1.5rem 3.5rem;
	margin: 2em -3.5em 0em -3.5em; 
	opacity: 0.95;
	text-align: left;
}

@media only screen and (max-width: 640px) { 

	body {
		/*background:url('../img/background-small.png') no-repeat top center;
		background-size: 100%;*/
	}

#imacImg {
	position: relative;
	right: inherit;
	width: inherit;
	max-width: 100%;
}

#formHolder {
	min-height: inherit;
	height: inherit;
	overflow: inherit;
	background-color: #ffffff;	
}

#submitBtn.button-off {
	color: #F26C21;
	text-transform: uppercase;
	font-size: .75em;
	background-color: #ffffff;
	border: 1px solid #F26C21;
}

#descHolder {
	height: auto;
}

	h1 {
	   font-size: 1em;
	}

	.columns {
		/*padding-left: 0;
		padding-right: 0;*/
	}

	.header-panel {
		width: 100%;
		border: none;
		background: url('../img/panel-design-sml.png') no-repeat top right #f36c21;
		padding: 2.5rem 7rem 1rem 2rem;
		opacity: 0.95;
		margin-bottom: 0;
	}

	.content-panel {
		width: 100%;
		border: none;
		padding: inherit;
		background: #FFFFFF;
		opacity: 1;
		margin-bottom: 0;
		/*margin-top: 150px;*/
		height: auto;
	}

	.thk {
		background: url('../img/panel-design-thanks-sml.png') no-repeat top right #0E8E9B;
	}

	p {
	   font-size: 0.8em;
	   color:#333;
	}

	.row {
		margin-left: auto;
	}

	#lrg-logo {
		display: none;
	}

	#sml-logo {
		display: inline;
	}

	span.instructions {
	   font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
	   font-weight: bold;
	   font-size: 0.9em;
	}
	
	.wrapper { height: auto; }

	#form-error {
		font-family: Helvetica, Arial, sans-serif;	
		color: #FFFFFF;
		background-color: #f36c21;
		border: 1px solid #f36c21;
		margin-top: -27px;
		padding: 2.25rem 0.5625rem 0.5625rem;
		font-style: normal;
		font-size: 0.8em;
	}	

	.row .row {
		margin-left: 0;
		margin-right: 0;
	}

	input[type="text"],input[type="email"],input[type="tel"],input[type="text"]:focus,input[type="email"]:focus,input[type="tel"]:focus {
		font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
		box-shadow: none;
	    color:#333;
		border: 1px solid #999;
		background: #ffffff;	
		font-size: 0.8em;
	}

	::-webkit-input-placeholder {
	    color:#333;
	}

	:-moz-placeholder { /* Firefox 18- */
	    color:#333;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	    color:#333;
	}

	:-ms-input-placeholder {  
	    color:#333;
	}

	.company-size {
		font-family: 'proxima-nova', Helvetica, Arial, sans-serif;	
	    color:#333;
		border: 1px solid #999;
		background-color: #ffffff;	
		font-size: 0.8em;
	}

	.company-size, .company-size:hover, .company-size:focus {
		font-family: 'proxima-nova', Helvetica, Arial, sans-serif;	
	    color:#333;
		border: 1px solid #999;
		background-color: #ffffff;	
		font-size: 0.8em;
	}
	
	[data-abide] .error small.error, [data-abide] span.error, [data-abide] small.error {
		color: #ffffff;
		background: #f36c21;	
		border: 1px solid #f16c10;
	}

	[data-abide] .error small.error:before, [data-abide] span.error:before, [data-abide] small.error:before {
		border-color: transparent transparent #f16c10 transparent;
	}

	button.button-off, button.button-off:focus {
		/*background: url('../img/btn-download-sml-off.png') transparent;
		height: 67px;
		width: 199px;*/
		outline: none;
		margin-bottom: 0;
	}

	button.button-error {
		/*background: url('../img/btn-download-sml-on.png') transparent;
		height: 67px;
		width: 199px;*/
		outline: none;
		margin-bottom: 0;
	}

	#return-link, #return-link-thk {
		background-color: #f36c21;
		padding: 1rem 2rem;
		margin: 2em -2em 0em -2em; 
		opacity: 0.95;
		text-align: center;
	}

	a.download-link {
		font-family: 'proxima-nova', Helvetica, Arial, sans-serif;	
	    font-weight: bold;		
		color:#333;
		font-size: 1em;
	}

}